{# templates/admin/list.html.twig #}
{% extends '@EasyAdmin/default/list.html.twig' %}
{% block table_body %}
    <style>
        .company, .company:hover {
            background-color: steelblue !important;
            color: white !important;
        }
    </style>
    {% for item in commandsWithCompany %}
        {% if item.id is not defined %}
            <tr class="company">
                <td class="company" colspan="{{ fields|length }}">{{ item }}</td>
            </tr>
        {% else %}
            {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
            {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
            <tr data-id="{{ _item_id }}">
                {% for field, metadata in fields %}
                    {% set isSortingField = metadata.property == app.request.get('sortField') %}
                    {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters) %}

                    <td class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" {{ easyadmin_config('design.rtl') ? 'dir="rtl"' }}>
                        {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                    </td>
                {% endfor %}
            </tr>
        {% endif %}

    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block content_footer %}
    <div class="list-pagination-counter">
        <strong>{{ total }}</strong> résultats
    </div>
{% endblock %}
